@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

body{
    background-color: #6541A5;
    font-family: 'Fredoka One', cursive;
}

/*=====FORMATTING=====*/
#states {
    padding-left: 20px;
    margin-top: -30x;
  }
  
  #states li {
    list-style-type: none;
    display: inline-block;
    padding-right: 8px;
  }
  
  #states li button {
    margin-bottom: 15px;
    border-radius: 3px;
    border-color: transparent;
    width: 90px;
    padding: 5px;
  }
  
  #online-button {
    background-color: green;
  }
  
  #offline-button {
    background-color: red;
  }

  #logo{
    width: 330px;
}

p {
    float: left;
    font-size: 11px;
    padding: 0 0 0 25px;
}

#offline-streamer .game {
    color: #8ea7c2;
}

#offline-streamer p {
    color: #B8CCA6;
}

.streamerName{
    margin-top: 10px;
}

.online {
    background-color: lightgreen;
    color: #4a5e82;
}

.online .game {
    color: #5c5457;
}

.hide{
    display: none;
}

.footer{
    margin-top: 30px;
}

.iconFormat{
    color: red;
    font-size: 18px;
}

.button-format{
    font-weight: bold;
}

/*=====HEAD SECTION=====*/
.github{
    font-size: 35px;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    text-decoration: none;
}

.github:hover{
    font-size: 35px;
    text-decoration: none;
    color:white;
    margin-top: 10px;
    text-decoration: none;
}

.logo {
    height: 45px;
    width: 45px;
    margin: 6px 0 0 10px;
    float: left;
    border-radius: 50%;
    border: 2px solid #E1E1E6;
}

#author{
    margin-left: 125px;
    margin-top: -40px;
    margin-bottom: 20px;
    font-family: 'Fredoka One', cursive;
    color: white;
    font-size: 15px;
}

/*=====MAIN SECTION=====*/
  .streamer {
    width: 100%;
    height: 60px;
    background-color: lightgray;
    border-top: 1px solid #E1E1E6;
    float: left;
    line-height: 30px;
}

.streamer:hover{
    width: 100%;
    height: 60px;
    background-color: lightblue;
    border-top: 1px solid #E1E1E6;
    float: left;
    line-height: 30px;
}

.game {
    width: 50%;
    float: right;
    text-align: center;
    font-style: italic;
    margin-top: 10px;
}  